@{
    ViewBag.Title = "About";
}
<h2>About Me</h2>
<h3>Akkira Sewnarain - u21437085</h3>

<p>My name is Akkira Sewnarain. I am a second year BCom Informatics Information Systems Student at the University of Pretoria.</p>
<a href="About.cshtml"><img src="/images/Me.jpg" alt="Me" style="width: 45px; height: 45px; margin-left: auto; margin-right: auto;"></a>