@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>u21437085_HW03</h1>
    <p class="lead">In this assignment, we will be creating a multimedia uploading system. We will be using MVC, HTML , CSS, Javascript and Bootstrap to code this project. This will include uploading files, images and videos, as well as being able to download and delete the different uploaded media.</p>

</div>

<div class="col-md-10">
    <h2>Option Selection</h2>
    Document:   @Html.RadioButton("File", "Document")
    Image: @Html.RadioButton("File", "Image")
    Video: @Html.RadioButton("File", "Video")

    <div class="form-horizontal">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

        {
            <div><input type="file" name="files" /></div>
            <br />
            <div><input type="submit" value="Submit" /></div>
        }
    </div>

</div>   

